[user]
	email = sergey_v_kaplun@mail.ru
	name = Sergey Kaplun
[core]
	editor = vim
	pager = less -x4
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	lg = "log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit"
	dcur  = diff HEAD
	dtool = difftool
	dlast = diff HEAD^ HEAD
	last  = log -1 HEAD
	dump  = cat-file -p
	type  = cat-file -t
	hist  = "log --graph --abbrev-commit --decorate --format=format:'%C(red)%h%C(reset) - %C(bold green)%ar%C(reset) - %C(white)%s%C(reset) %C(bold blue)%an%C(reset) %C(bold yellow)%d%C(reset)' --all"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "status"]
	added = green
	changed = red bold
	untracked = blue bold
[color "branch"]
	remote = yellow

