[submodule ".mutt/themes/mutt-colors-solarized"]
	path = .mutt/themes/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
	branch = master
[submodule ".i3/i3blocks-contrib"]
	path = .i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
	branch = master
